
<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="30%">
    <!--  $event is an object that angular gives. This encloses the default DOM event that is emitted. -->
    <input
      matInput
      type="text"
      placeholder="filter"
    />
  </mat-form-field>
</div>

<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.name}} </td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef> Carlories </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.calories}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let exercise"> {{exercise.state}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
